<div class="team-compensation-history lms-grid">
    <div class="lms-panel">
        <md-toolbar>
            <div class="md-toolbar-tools md-default">
                <span>Leave Request</span>
            </div>
        </md-toolbar>

        <!--<md-button a href="#/team/LeaveRequest">All</md-button>
        <md-button a href="#/team/PendingLeaveRequest">Pending Request</md-button>
        <md-button a href="#/team/compensationLeaveHistory">Compensation Leave</md-button><br /><br />-->
        <ul class="lms-tabs" layout="row" active-tab>
            <li><md-button a href="#/team/LeaveRequest">All</md-button></li>
            <li><md-button a href="#/team/PendingLeaveRequest">Pending Request</md-button></li>
            <li class="active"><md-button a href="#/team/compensationLeaveHistory">Compensation Leave</md-button></li>
        </ul>

        <md-table-container ng-init="compensationLeaveHistoryAdmin()">
            <md-progress-circular ng-show="loading"></md-progress-circular>
            <table md-table ng-model="leaveTable">
                <thead md-head>
                    <tr md-row>
                        <!--<th md-column>Sl. No.</th>-->
                        <th md-column md-order-by="nameToLower">Name</th>
                        <th md-column>From</th>
                        <th md-column>To</th>
                        <th md-column>Reason</th>
                        <th md-column>Days</th>
                        <th md-column>Type</th>
                        <th md-column>Unit</th>
                        <th md-column>Status</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr dir-paginate="leave in compensationLeaveHistoryAdmin| itemsPerPage: 5 track by $index">
                        <!--<td md-cell>{{$index+1}}</td>-->
                        <td md-cell><a href="#/employeeLeaveDetails/{{leave.Id}}" class="link-col">{{leave.EmployeeName}}</a></td>
                        <td md-cell>{{leave.StartDate|date:'dd-MM-yyyy'}}</td>
                        <td md-cell>{{leave.EndDate|date:'dd-MM-yyyy'}}</td>
                        <td md-cell>{{leave.Reason}}</td>
                        <td md-cell>{{leave.Days}}</td>
                        <td md-cell>{{leave.Type}}</td>
                        <td md-cell>{{leave.Unit}}</td>
                        <td md-cell>{{$root.LeaveRequestCondition[leave.Condition]}}</td>
                        <td md-cell><md-button ng-click="compensationLeaveApproveModal(leave)">Approve</md-button></td>
                        <td md-cell><md-button ng-click="compensationLeaveRejectModal(leave)">Reject</md-button></td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <dir-pagination-controls></dir-pagination-controls>
    </div>
</div>