
<!--<form name="form" ng-init="getEmployeeByIdDataFromService()">
    <center>
        <table>
            <tr>
                <td>Old Password:</td>
                <td>
                    <input type="password" ng-model="changedPassword.OldPassword" ng-required="true"  name="old"/>
                    <p ng-show="form.old.$invalid && form.old.$touched">Required</p>
                </td>
            </tr>
            <tr>
                <td>New Password:</td>
                <td>
                    <input type="password" ng-model="changedPassword.NewPassword" ng-required="true"  name="change"/>
                    <p ng-show="form.change.$invalid && form.change.$touched">Required</p>
                </td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td>
                    <input type="password" ng-model="changedPassword.ConfirmPassword" ng-required="true" name="confirm" />
                    <p ng-show="form.confirm.$invalid && form.confirm.$touched">Required</p>
                </td>
            </tr>

            <tr>
                <td><input type="button" value="Back" ng-click="onBack()" /></td>
                <td><input type="button" value="Change Password" ng-click=" changePasswordFromService(changedPassword)" ng-disabled="form.$invalid" /></td>
            </tr>
        </table>
    </center>
</form>-->

<div class="change-password">
    <div class="lms-panel">
        <div class="lms-panel-heading">
            <h4>Change Password</h4>
        </div>
        <div class="lms-panel-body">
            <form name="form" ng-init="getEmployeeByIdDataFromService()">
                <div layout="row">
                    <div flex="25">
                        <label>Old Password</label>
                    </div>
                    <div flex="40">
                        <md-input-container md-no-float class="md-block">
                            <input type="password" placeholder="Old Password" ng-model="changedPassword.OldPassword" ng-required="true" name="old">
                            <p ng-show="form.old.$invalid && form.old.$touched" class="lms-error-msg">Required</p>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <div flex="25">
                        <label>New Password</label>
                    </div>
                    <div flex="40">
                        <md-input-container md-no-float class="md-block">
                            <input type="password" placeholder="New Password" ng-model="changedPassword.NewPassword" ng-required="true" name="change">
                            <p ng-show="form.change.$invalid && form.change.$touched" class="lms-error-msg">Required</p>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <div flex="25">
                        <label>Confirm Password</label>
                    </div>
                    <div flex="40">
                        <md-input-container md-no-float class="md-block">
                            <input type="password" placeholder="Confirm Password" ng-model="changedPassword.ConfirmPassword" ng-required="true" name="confirm">
                            <p ng-show="form.confirm.$invalid && form.confirm.$touched" class="lms-error-msg">Required</p>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <div flex-offset="25" class="lms-panel-btns">
                        <md-button class="update-btn" ng-click=" changePasswordFromService(changedPassword)" ng-disabled="form.$invalid">Change Password</md-button>
                        <md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular> 
                        <md-button class="back-btn" ng-click="onBack()">Back</md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

