<!--<md-dialog name="form">
    <md-content>
        <label>Reason(Why to escalate):</label><textarea ng-model="leave.ResultReason"></textarea>
    </md-content>
    <md-dialog-actions>
        <button type="button" class="btn btn-default" ng-click="cancelModal()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="leaveRequestEscalate()" ng-disabled="form.$invalid">Approve</button>
    </md-dialog-actions>
</md-dialog>-->


<md-dialog>
    <md-content>
        <form name="form">
            <center><h3><u>Escalate to Admin</u></h3></center>
            <table>
                <tr>
                    <td>Reason(Why to escalate):</td>
                    <td>
                        <textarea ng-model="leave.ResultReason"></textarea>
                    </td>
                </tr>
            </table>

            <md-dialog-actions>
                <md-button type="button" class="btn btn-default" ng-click="cancelModal()">Cancel</md-button>
                <md-button type="button" class="btn btn-primary" ng-click="leaveRequestEscalate()" ng-disabled="form.$invalid">Approve</md-button>
            </md-dialog-actions>
        </form>
    </md-content>
</md-dialog>