<md-dialog name="form" class="lms-modal">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Create New Leave</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancelModal()">
                <md-icon md-font-set="material-icons"> clear </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="form">
            <div layout="row">
                <div flex="25">
                    <label>Name</label>
                </div>
                <div flex="40">
                    <md-input-container md-no-float class="md-block">
                        <md-select ng-model="newLeave.LeaveType" name="leaveType" ng-required="true" placeholder="--Please select a leave type--">
                            <md-option ng-repeat="leave in leaveTypes">{{leave.name}}</md-option>
                        </md-select>
                        <p ng-show="form.leaveType.$invalid && form.leaveType.$touched" class="lms-error-msg">Please select a type of leave</p>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <div flex="25">
                    <label>Allowed Days</label>
                </div>
                <div flex="40">
                    <md-input-container md-no-float class="md-block">
                        <input type="text" placeholder="Allowed Days" ng-model="newLeave.AllowedDays">
                    </md-input-container>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="cancelModal()" class="cancel-btn">Cancel</md-button>
        <md-button ng-click="addLeave(newLeave)" ng-disabled="form.$invalid" class="add-btn">Add</md-button>
        <md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
    </md-dialog-actions> 
</md-dialog>
