<div class="leave-details-grid lms-grid">
    <div class="lms-panel">
        <md-toolbar>
            <div class="md-toolbar-tools md-default">
                <h1>Type of Leaves</h1>
                <span flex></span>
                <!--<md-button ng-click="leaveAddModal()" style="float:right">Add New Leave</md-button>-->
                <md-button ng-click="leaveAddModal()" class="add-item"><md-icon md-font-set="material-icons"> add_box </md-icon>New</md-button>
            </div>
        </md-toolbar>
        <md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
        <md-table-container ng-init="allLeaveList()">
            <table md-table ng-model="typeOfLeaves">
                <thead md-head>
                    <tr md-row>
                        <!--<th md-column> Sr No. </th>-->
                        <th md-column md-order-by="nameToLower"> Name </th>
                        <th md-column> Days Allowed </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="leave in leaveList">
                        <!--<td md-cell> {{$index + 1}} </td>-->
                        <td md-cell>{{$root.TypeOfLeave[leave.LeaveType]}}</td>
                        <td md-cell>{{leave.AllowedDays}}</td>

                        <td md-cell>
                            <!--<md-button ng-click="leaveEditModal(leave.Id)">Edit</md-button>-->
                            <md-button ng-click="leaveEditModal(leave.Id)" title="Edit" class="md-icon-button"><md-icon md-font-set="material-icons"> edit </md-icon></md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>
