<md-dialog name="form" class="lms-modal">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Reject Leave</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancelModal()">
                <md-icon md-font-set="material-icons"> clear </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="form">
            <div layout="row">
                <div flex="25">
                    <label>Reason</label>
                </div>
                <div flex="40" class="lms-textarea">
                    <textarea ng-model="leave.ResultReason" ng-required="true" name="ResultReason" rows="4"></textarea>
                    <p ng-show="form.ResultReason.$invalid && form.ResultReason.$touched" class="lms-error-msg">Required!</p>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="cancelModal()" class="cancel-btn">Cancel</md-button>
        <md-button ng-click="leaveRequestReject()" ng-disabled="form.$invalid" class="positive-btn">Reject</md-button>
    </md-dialog-actions>
</md-dialog>