<div class="sick-leave-history-grid lms-grid">
    <div class="lms-panel">
        <md-toolbar>
            <div class="md-toolbar-tools md-default">
                <span>Leave Request</span>
            </div>
        </md-toolbar>
        <md-table-container ng-init="leaveRequestByTypeSick()">
            <md-progress-circular ng-show="loading"></md-progress-circular>
            <table md-table ng-model="leaveTable">
                <thead md-head>
                    <tr md-row>
                        <th md-column>Leave From</th>
                        <th md-column>Leave To</th>
                        <th md-column>Reason</th>
                        <th md-column>Unit</th>
                        <th md-column>Status</th>
                        <th md-column>Doctor's Name</th>
                        <th md-column>Doctor's Contact No</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="leave in leaveRequestByTypeSick track by $index">
                        <td md-cell>{{leave.StartDate|date:'dd-MM-yyyy'}}</td>
                        <td md-cell>{{leave.EndDate|date:'dd-MM-yyyy'}}</td>
                        <td md-cell>{{leave.Reason}}</td>
                        <td md-cell>{{$root.LeaveRequestUnit[leave.Unit]}}</td>
                        <td md-cell ng-show="leave.Condition == '0'||leave.Condition == '4'"><a href="#/employee/LeaveHistory/Sick/Update/{{leave.Id}}">{{$root.LeaveRequestCondition[leave.Condition]}}</a></td>
                        <td md-cell ng-show="leave.Condition != '0'">{{$root.LeaveRequestCondition[leave.Condition]}}</a></td>
                        <td md-cell>{{leave.DoctorName}}</td>
                        <td md-cell>{{leave.DoctorContactNumber}}</td>
                    </tr>
                    <tr md-row>
                        <td md-cell><a href="#/LeaveHistory">Back</a></td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>