<md-dialog name="form" class="lms-modal">
    <md-dialog-content>
        <form name="form">
            <div layout="row">
                <div flex="80">
                    <p class="lms-modal-msg">Are you sure you want to approve this request?</p>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="cancelModal()" class="cancel-btn">Cancel</md-button>
        <md-button ng-click="sickLeaveRequestApprove()" ng-disabled="form.$invalid" class="positive-btn">Approve</md-button>
    </md-dialog-actions>
</md-dialog>